istio-ingress:
  enabled: true

gateway:
  nodeSelector:
    kubernetes.io/hostname: talos-z9s-i4f

  service:
    type: NodePort
    ports:
      - name: status-port
        port: 15021
        targetPort: 15021
        protocol: TCP
      - name: http
        port: 80
        targetPort: 80
        nodePort: 80
        protocol: TCP
      - name: https
        port: 443
        targetPort: 443
        nodePort: 443
        protocol: TCP
#      - name: grpc
#        port: 50051
#        targetPort: 50051
#        protocol: TCP
