apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: dual-role
  labels:
    strimzi.io/cluster: shortlink
spec:
  replicas: 3
  roles:
    - controller
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 10Gi
        kraftMetadata: shared
        class: local-path
  template:
    # pod-level settings (nodeSelector, tolerations, affinity etc.)
    pod:
      metadata: {}
    
    # container-level settings for Kafka broker container
    kafkaContainer:
      env:
        - name: STRIMZI_JMX_ENABLED
          value: "true"
        - name: STRIMZI_JMX_EXPORTER_CONFIG
          valueFrom:
            configMapKeyRef:
              name: broker-metrics
              key: metrics-config.yml

---
apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: shortlink
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: enabled
spec:
  kafka:
    version: 4.1.1
    metadataVersion: "4.1"
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
        #configuration:
        #  useServiceDnsDomain: true
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      default.replication.factor: 3
      min.insync.replicas: 2
      inter.broker.protocol.version: "4.1"
  entityOperator:
    topicOperator: {}
    userOperator: {}
  kafkaExporter:
    topicRegex: ".*"
    groupRegex: ".*"
    enableSaramaLogging: true

