apiVersion: v2
appVersion: "1.16.1"
name: cert-manager
version: 0.5.0
kubeVersion: ">= 1.30.0 || >= v1.30.0-0"
keywords:
  - cert-manager
maintainers:
  - email: batazor111@gmail.com
    name: batazor
    url: batazor.ru
engine: gotpl
type: application
deprecated: false
dependencies:
  - name: cert-manager
    alias: certmanager
    version: v1.19.2
    repository: https://charts.jetstack.io
    condition: certmanager.enabled
    tags:
      - security
      - tls
  - name: cert-manager-approver-policy
    alias: certmanagerapproverpolicy
    version: v0.23.0
    repository: https://charts.jetstack.io
    condition: certmanagerapproverpolicy.enabled
    tags:
      - security
      - tls
  - name: cert-manager-csi-driver-spiffe
    alias: spiffe
    version: v0.11.0
    repository: https://charts.jetstack.io
    condition: spiffe.enabled
    tags:
      - security
      - tls
  - name: trust-manager
    alias: trustmanager
    version: 0.20.3
    repository: https://charts.jetstack.io
    tags:
      - security
      - tls
