# Common default values for cert-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

email: mymail@gmail.com

annotations: {}

# type: http, cloudflare
# default: http
type: cloudflare

features:
  approverPolicy: true
  trustManager: true

certmanager:
  enabled: true

  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 100m
      memory: 128Mi

  featureGates: "ExperimentalGatewayAPISupport=true"

  crds:
    enabled: true
    keep: true

  extraArgs:
    - --logging-format=json
#    - --controllers='*\,-certificaterequests-approver'

  webhook:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi

  cainjector:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi

  startupapicheck:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 128Mi

  prometheus:
    enabled: true

    servicemonitor:
      enabled: true
      labels:
        release: prometheus-operator

certmanagerapproverpolicy:
  app:
    metrics:
      service:
        servicemonitor:
          enabled: true
          labels:
            release: prometheus-operator

spiffe:
  enabled: false

  app:
    driver:
      resources:
        requests:
          cpu: 15m
          memory: 5Mi
        limits:
          cpu: 100m
          memory: 128Mi

    approver:
      metrics:
        service:
          servicemonitor:
            enabled: true

trustmanager:
  enabled: true

  secretTargets:
    enabled: true

  app:
    webhook:
      tls:
        approverPolicy:
          enabled: true
          certManagerNamespace: cert-manager
          certManagerServiceAccount: cert-manager

    metrics:
      service:
        servicemonitor:
          enabled: true
