apiVersion: v1
kind: Secret
metadata:
  name: tempo-datasources
  labels:
    grafana_datasource: 'true' # default value for: sidecar.datasources.label
stringData:
  tempo.yaml: |-
    apiVersion: 1
    datasources:
      - name: Tempo
        type: tempo
        uid: tempo
        url: http://grafana-tempo:3200
        editable: false
        jsonData:
          httpMethod: GET
          lokiSearch:
            datasourceUid: loki
          nodeGraph:
            enabled: true
          search:
            enabled: true
            hide: false
          metrics:
            enabled: true
          serviceMap:
            datasourceUid: prometheus
          streamingEnabled:
            search: false
          traceQuery:
            timeShiftEnabled: true
            spanStartTimeShift: '1h'
            spanEndTimeShift: '-1h'
          spanBar:
            type: 'Tag'
            tag: 'http.path'

          tracesToLogsV2:
            datasourceUid: loki
            spanStartTimeShift: '1h'
            spanEndTimeShift: '-1h'
            tags:
              - { key: 'job', value: 'job' }
              - { key: 'instance', value: 'instance' }
              - { key: 'pod', value: 'pod' }
              - { key: 'namespace', value: 'namespace' }
            filterBySpanID: true
            filterByTraceID: true
            mapTagNamesEnabled: true
            customQuery: true
            query: '{ $__tags } |= "trace_id=\\"${__span.traceId}\\"" and span_id="${__span.spanId}" and method="${__span.tags.method}"'

          tracesToMetrics:
            enabled: true
            datasourceUid: 'prometheus'
            spanStartTimeShift: '1h'
            spanEndTimeShift: '-1h'
            tags:
              - { key: 'service.name', value: 'service' }
              - { key: 'job', value: 'job' }
            queries:
              - name: 'Sample query'
                query: 'sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))'

          tracesToProfiles:
            datasourceUid: pyroscope
            spanStartTimeShift: '1h'
            spanEndTimeShift: '-1h'
            tags:
              - { key: 'service.name', value: 'service' }
              - { key: 'service.namespace', value: 'service_namespace' }
              - { key: 'pod', value: 'pod' }
            profileTypes:
              - 'process_cpu:cpu:nanoseconds:cpu:nanoseconds'
            customQuery: true
            query: '{ $__tags } and span_id="${__span.spanId}" and trace_id="${__span.traceId}"'
