apiVersion: v1
kind: Service
metadata:
  name: public-gw
  labels:
    expose: "public"
spec:
  type: LoadBalancer

  selector:
    istio: external-gateway

  ports:
    - name: status-port
      port: 15021
      targetPort: 15021
    - name: http
      port: 80
      targetPort: 8080
    - name: https
      port: 443
      targetPort: 8443
