apiVersion: v1
kind: Service
metadata:
  name: public-gw
spec:
  type: ClusterIP

  externalIPs:
    - 45.10.161.18

  selector:
    gateway.networking.k8s.io/gateway-name: external-gateway

  ports:
    - name: status-port
      port: 15021
      targetPort: 15021
    - name: http
      port: 80
      targetPort: 8080
    - name: https
      port: 443
      targetPort: 8443
