apiVersion: v1
kind: ConfigMap
metadata:
  name: external-gateway-options
data:
  deployment: |
    spec:
      template:
        spec:
          nodeSelector:
            kubernetes.io/hostname: talos-z9s-i4f

  service: |
    spec:
      type: NodePort
      externalTrafficPolicy: Local
      ports:
      - name: http
        port: 80
        targetPort: 80
        nodePort: 80
      - name: https
        port: 443
        targetPort: 443
        nodePort: 443
