apiVersion: v1
kind: Secret
metadata:
  name: prometheus-datasources
  labels:
    grafana_datasource: 'true' # default value for: sidecar.datasources.label
stringData:
  prometheus.yaml: |-
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        url: http://prometheus-prometheus.prometheus-operator.svc:9090/prometheus
        access: proxy
        isDefault: true
        jsonData:
          timeInterval: 15s
          queryTimeout: 60s
          httpMethod: POST
          alertmanagerUid: alertmanager
          incrementalQuerying: true
          exemplarTraceIdDestinations:
            - name: "traceID"
              datasourceUid: tempo
          # Enable proper time range handling
          manageAlerts: true
          # Disable time range validation issues
          disableRecordingRules: false
