apiVersion: v2
appVersion: "1.0.0"
name: grafana-tempo
version: 0.2.3
kubeVersion: ">= 1.30.0 || >= v1.30.0-0"
keywords:
  - grafana
  - tracing
maintainers:
  - email: batazor111@gmail.com
    name: batazor
    url: batazor.ru
engine: gotpl
type: application
deprecated: false
dependencies:
  - name: tempo
    version: 1.25.0
    repository: https://grafana-community.github.io/helm-charts
    condition: tempo.enabled
    tags:
      - monitoring

