tempo:
  enabled: true

  tempoQuery:
    enabled: true

  tempo:
    reportingEnabled: false

    server:
      stream_over_http_enabled: true

    resources:
      limits:
        cpu: 2
        memory: 3Gi
      requests:
        cpu: 500m
        memory: 256Mi

    metricsGenerator:
      enabled: true
      remoteWriteUrl: http://prometheus-prometheus.prometheus-operator:9090/api/v1/write

    overrides:
      defaults:
        metrics_generator:
          processors:
            - service-graphs
            - span-metrics

    ingester:
      trace_idle_period: 10s               # the length of time after a trace has not received spans to consider it complete and flush it
      max_block_bytes: 500_000_000         # cut the head block when it hits this size or ...
      max_block_duration: 30m              # this much time passes

    retention: 24h

    queryFrontend:
      max_outstanding_per_tenant: 2000
      search:
        concurrent_jobs: 2000
        target_bytes_per_job: 400_000_000

    storage:
      trace:
        backend: local
        block:
          version: vParquet4               # version of the block storage to use
          bloom_filter_false_positive: .05 # bloom filter false positive rate.  lower values create larger filters but fewer false positives

          parquet_dedicated_columns:
            - scope: span
              name: rpc.service
              type: string
        local:
          path: /var/tempo/traces
        wal:
          path: /var/tempo/wal
        pool:
          max_workers: 400                 # the worker pool mainly drives querying, but is also used for polling the blocklist
          queue_depth: 30000

  serviceMonitor:
    enabled: true

    labels:
      release: prometheus-operator

  persistence:
    enabled: true
    storageClassName: local-path
    size: 1Gi
