{{/* vim: set filetype=mustache: */}}

{{- define "shortlink-common.http_route" -}}
{{- if .Values.httpRoute.enabled -}}

{{- $backendPort := 80 -}}
{{- range .Values.service.ports -}}
  {{- if and .public (eq $backendPort 80) -}}
    {{- $backendPort = .port -}}
  {{- end -}}
{{- end -}}

{{- $parentRefs := .Values.httpRoute.parentRefs | default (list (dict
  "name" (.Values.httpRoute.gatewayName | default "external-gateway")
  "namespace" (.Values.httpRoute.gatewayNamespace | default "istio-system")
)) -}}

{{- $matches := list -}}
{{- if .Values.httpRoute.paths -}}
  {{- range .Values.httpRoute.paths -}}
    {{- $matches = append $matches (dict "path" (dict "type" "PathPrefix" "value" .)) -}}
  {{- end -}}
{{- else -}}
  {{- $matches = list (dict "path" (dict "type" "PathPrefix" "value" (.Values.httpRoute.path | default "/"))) -}}
{{- end -}}

{{- $ref := dict
  "name" (.Values.httpRoute.backendRefName | default (include "helpers.fullname" .))
  "port" (.Values.httpRoute.port | default $backendPort)
-}}
{{- with .Values.httpRoute.backendRefNamespace -}}
  {{- $_ := set $ref "namespace" . -}}
{{- end -}}
{{- $backendRefs := .Values.httpRoute.backendRefs | default (list $ref) -}}

{{- $rules := .Values.httpRoute.rules | default (list (dict "matches" $matches "backendRefs" $backendRefs)) -}}

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  {{- include "shortlink-common.metadata" . | nindent 2 }}
spec:
  parentRefs:
    {{- toYaml $parentRefs | nindent 4 }}

  {{- with .Values.httpRoute.hostnames }}
  hostnames:
    {{- range . }}
    - {{ . | quote }}
    {{- end }}
  {{- end }}

  rules:
    {{- toYaml $rules | nindent 4 }}
{{- end -}}
{{- end -}}
