apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: shortlink
scheduler:
  name: ""
spec:
  configuration:
    name: shortlink-configuration
  exposeServices:
    console: true
    minio: true
  mountPath: /export
  pools:
  - name: pool-0
    resources:
      limits:
        memory: 2Gi
      requests:
        memory: 512Mi
    servers: 1
    volumesPerServer: 1
    volumeClaimTemplate:
      metadata:
        name: data
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: "3221225472"
        storageClassName: local-path
  
  users:
  - name: shortlink-user
  - name: testkube-user
  
  prometheusOperator: true
  requestAutoCert: false

  env:
    - name: MINIO_PROMETHEUS_AUTH_TYPE
      value: "public"

    - name: MINIO_TELEMETRY_TARGET_ENABLE
      value: "on"

    - name: MINIO_TELEMETRY_TARGET_ENDPOINT
      value: "http://grafana-alloy.grafana.svc.cluster.local:4318"

    - name: MINIO_TELEMETRY_TARGET_SAMPLE_RATE
      value: "1"

    - name: MINIO_STORAGE_CLASS_STANDARD
      value: "1"

    - name: MINIO_STORAGE_CLASS_RRS
      value: "0"
