{{/* vim: set filetype=mustache: */}}

{{/*
Deployment strategy for Rollout/Deployment resources.

Supports:
- RollingUpdate (default for Deployment)
- BlueGreen (Rollout)
- Canary with traffic routing via:
  - Gateway API (HTTPRoute/GRPCRoute) - preferred
  - NGINX Ingress - legacy

Docs: https://rollouts-plugin-trafficrouter-gatewayapi.readthedocs.io/
*/}}

{{- define "shortlink-common.deploymentStrategy" -}}
strategy:
{{- if .Values.deploy.strategy }}
  {{- if eq .Values.deploy.strategy.type "BlueGreen" }}
  blueGreen:
    activeService: {{ include "helpers.fullname" . }}
    previewService: {{ include "helpers.fullname" . }}-preview
    autoPromotionEnabled: false
  {{- else if eq .Values.deploy.strategy.type "Canary" }}
  canary:
    stableService: {{ include "helpers.fullname" . }}
    canaryService: {{ include "helpers.fullname" . }}-preview
    # The minimum number of pods that will be requested for each ReplicaSet
    # when using traffic routed canary. This is to ensure high availability
    # of each ReplicaSet.
    minPodsPerReplicaSet: {{ .Values.deploy.strategy.minPodsPerReplicaSet | default 1 }}
    {{- /* Check if any traffic routing is enabled */ -}}
    {{- $hasHttpRoute := and .Values.httpRoute .Values.httpRoute.enabled }}
    {{- $hasGrpcRoute := and .Values.grpcRoute .Values.grpcRoute.enabled }}
    {{- $hasIngress := and .Values.ingress .Values.ingress.enabled }}
    {{- $hasTrafficRouting := or $hasHttpRoute $hasGrpcRoute $hasIngress }}
    {{- /* Enable dynamicStableScale when using traffic routing */ -}}
    {{- if $hasTrafficRouting }}
    dynamicStableScale: {{ .Values.deploy.strategy.canary.dynamicStableScale | default true }}
    {{- end }}
    {{- /* Traffic routing configuration */ -}}
    {{- if $hasTrafficRouting }}
    trafficRouting:
      {{- /* Gateway API traffic routing via plugin (preferred) */ -}}
      {{- if or $hasHttpRoute $hasGrpcRoute }}
      plugins:
        argoproj-labs/gatewayAPI:
          {{- if $hasHttpRoute }}
          httpRoutes:
            - name: {{ include "helpers.fullname" . }}
              {{- with .Values.httpRoute.namespace }}
              namespace: {{ . }}
              {{- end }}
          {{- end }}
          {{- if $hasGrpcRoute }}
          grpcRoutes:
            - name: {{ include "helpers.fullname" . }}
              {{- with .Values.grpcRoute.namespace }}
              namespace: {{ . }}
              {{- end }}
          {{- end }}
      {{- /* NGINX Ingress traffic routing (legacy) */ -}}
      {{- else if and $hasIngress (eq (.Values.ingress.ingressClassName | default "") "nginx") }}
      nginx:
        # Reference to an Ingress which has a rule pointing to the stable service
        # This ingress will be cloned with a new name, in order to achieve NGINX traffic splitting.
        stableIngress: {{ include "helpers.fullname" . }}
      {{- end }}
    {{- end }}
    {{- /* Additional canary configuration from values */ -}}
    {{- with .Values.deploy.strategy.canary }}
    {{- $canary := omit . "dynamicStableScale" }}
    {{- if $canary }}
    {{- toYaml $canary | nindent 4 }}
    {{- end }}
    {{- end }}
  {{- end }}
{{- else }}
  type: RollingUpdate
  rollingUpdate:
    maxSurge: 1
    maxUnavailable: 0
{{- end }}
{{- end }}
