apiVersion: v2
appVersion: "1.0.0"
name: opentelemetry-ebpf-instrumentation
version: 0.2.2
kubeVersion: ">= 1.30.0 || >= v1.30.0-0"
keywords:
  - observability
  - profiling
maintainers:
  - email: batazor111@gmail.com
    name: batazor
    url: batazor.ru
engine: gotpl
type: application
deprecated: false
dependencies:
  - name: opentelemetry-ebpf-instrumentation
    version: 0.2.1
    repository: https://open-telemetry.github.io/opentelemetry-helm-charts
    condition: opentelemetry-ebpf-instrumentation.enabled
    tags:
      - observability
      - profiling

