apiVersion: v1
kind: ServiceAccount
metadata:
  name: mc-job-sa
  annotations:
    argocd.argoproj.io/sync-wave: "0"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: shortlink-bucket-policy
  annotations:
    argocd.argoproj.io/sync-wave: "0"
data:
  policy.json: |
    {
      "Version": "2012-10-17",
      "Statement": [
        {
          "Effect": "Allow",
          "Action": ["s3:*"],
          "Resource": [
            "arn:aws:s3:::shortlink",
            "arn:aws:s3:::shortlink/*"
          ]
        }
      ]
    }

