apiVersion: postgres-operator.crunchydata.com/v1
kind: PostgresCluster
metadata:
  name: oncall-postgres
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  postgresVersion: 18
  metadata:
    annotations:
      sidecar.istio.io/inject: "false"
  instances:
    - name: grafana
      replicas: 1
      metadata:
        annotations:
          sidecar.istio.io/inject: "false"
      dataVolumeClaimSpec:
        storageClassName: local-path
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: 1Gi
          # NOTE: wait new version chart > 5.6.0
          # limit:
          #   storage: 5Gi
      walVolumeClaimSpec:
        storageClassName: local-path
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: 1Gi
  instrumentation:
    config:
      exporters:
        otlp/logging:
          endpoint: http://grafana-tempo.grafana:4317
          tls:
            insecure: true
        otlp/metrics:
          endpoint: http://grafana-alloy.grafana.svc.cluster.local:4318
    logs:
      exporters: [ 'otlp/logging' ]
      retentionPeriod: 2d
    metrics:
      exporters: [ 'otlp/metrics' ]
  backups:
    pgbackrest:
      repos:
        - name: repo1
          volume:
            volumeClaimSpec:
              storageClassName: local-path
              accessModes:
                - "ReadWriteOnce"
              resources:
                requests:
                  storage: 1Gi
  patroni:
    dynamicConfiguration:
      postgresql:
        parameters:
          # https://pgtune.leopard.in.ua/#/
          max_connections: 100
          shared_buffers: 1GB
          effective_cache_size: 3GB
          maintenance_work_mem: 256MB
          checkpoint_completion_target: 0.9
          wal_buffers: 16MB
          default_statistics_target: 100
          random_page_cost: 1.1
          effective_io_concurrency: 200
          work_mem: 2621kB
          min_wal_size: 2GB
          max_wal_size: 8GB
          max_worker_processes: 8
          max_parallel_workers_per_gather: 4
          max_parallel_workers: 8
          max_parallel_maintenance_workers: 4
          # TODO: enable pgmonitor_bgw
          shared_preload_libraries: pg_stat_statements,pgaudit,auto_explain,pg_prewarm,uuid-ossp
          pgmonitor_bgw.dbname: postgres,oncall
          pgmonitor_bgw.role: "postgres"
  users:
    - name: admin
      databases:
        - postgres
        - oncall
      options: "SUPERUSER"
    - name: oncall
      databases:
        - postgres
        - oncall
      options: "SUPERUSER"
    # account for grafana monitoring
    # - name: grafana
    #   databases:
    #     - oncall
